<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Productos Destacados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="display: flex; justify-content: center; align-items: center;">
  <div #container2 id="container" style="text-align: center; overflow-x: hidden; width: 99%; height: 60%;">
    <div class="image-carousel" style="display: flex;">
      <div class="card" style="background-color: white; border-radius: 10px; padding: 10px; margin: 5px;">
        <img src="assets/icon/correcto.png" alt="Imagen 1">
        <div class="card-content">
          <h3>Producto 1</h3>
          <p>Descripción del producto 1.</p>
          <p>Precio: $10.00</p>
        </div>
      </div>

      <div class="card" style="background-color: white; border-radius: 10px; padding: 10px; margin: 5px;">
        <img src="assets/icon/incorrecto.png" alt="Imagen 2">
        <div class="card-content">
          <h3>Producto 2</h3>
          <p>Descripción del producto 2.</p>
          <p>Precio: $15.00</p>
        </div>
      </div>

      <!-- Agrega más tarjetas según sea necesario -->
    </div>
    <strong class="capitalize">Aquí verás nuestros productos destacados.</strong>
  </div>



  <!-- Grilla de imágenes -->
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <img src="assets/icon/correcto.png" alt="Imagen 1" style="width: 100%;">
      </ion-col>
      <ion-col size="6">
        <img src="assets/icon/correcto.png" alt="Imagen 2" style="width: 100%;">
      </ion-col>
    </ion-row>
    <ion-row>
      <!-- Agrega más columnas según sea necesario -->
      <!-- Por ejemplo, para una tercera imagen -->
      <ion-col size="6">
        <div #container id="container" style="text-align: center; overflow-x: hidden;">
          <div class="image-carousel" style="display: flex;">
            <div class="card" style="background-color: white; border-radius: 10px; padding: 10px; margin: 5px;">
              <img src="assets/icon/correcto.png" alt="Imagen 1">
              <div class="card-content">
                <h3>Producto 1</h3>
                <p>Descripción del producto 1.</p>
                <p>Precio: $10.00</p>
              </div>
            </div>
      
            <div class="card" style="background-color: white; border-radius: 10px; padding: 10px; margin: 5px;">
              <img src="assets/icon/incorrecto.png" alt="Imagen 2">
              <div class="card-content">
                <h3>Producto 2</h3>
                <p>Descripción del producto 2.</p>
                <p>Precio: $15.00</p>
              </div>
            </div>
          </div>
        </div>>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


