<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="background-color: #458cf4;">
  <img #image src="assets/inicio/fondo.jpg" style="height: 100%; width: 100%;">

  <div style="position: absolute; top: 20%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: white; font-size: 18px; font-weight: bold;">
    Hola! {{nombre}}
  </div>
  <br>
  <br>
  <div style="position: absolute; top: 70%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: white; font-size: 18px; font-weight: bold;">
    <p style="font-size: small;">Bienvenido a la app de Kiosco Ayacucho.</p>
  </div>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
