<ion-content [fullscreen]="true">
  <img src="assets/login/fondo-login.jpg" style="height: 100%; width: 100%;">

  <div id="container" class="ion-padding">

    <div style="text-align: center;">
      <img src="assets/login/kiosco-ayacucho.jpg" style="height: 70%; width: 70%;">
    </div>
    <div style="text-align: center;">
      <img id="bienvenidoAparecer" src="assets/login/bienvenido.jpg" style="height: 50%; width: 50%;">
    </div>
    <br>
    <!-- Formulario de inicio de sesión -->
    <ion-item style="border-radius: 20px;">
      <ion-input id="inputAparecer1" placeholder="Usuario" type="text" [(ngModel)]="usuario"></ion-input>
    </ion-item>
    <br>
    <ion-item style="border-radius: 20px;">
      <ion-input id="inputAparecer2" placeholder="Contraseña"  type="password" [(ngModel)]="contrasena"></ion-input>
    </ion-item>
    <br>

    <!-- Botón de inicio de sesión -->
    <ion-button id="loginButton" (click)="iniciarSesion()">
      <ion-icon slot="start" name="log-in-outline"></ion-icon>
      Iniciar sesión
    </ion-button>
  </div>
</ion-content>
