/* En tu estilo global o en un archivo de estilos específico */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeInBienvenidoAparecer {
  from { opacity: 0; }
  to { opacity: 1; }
}

#container {
  text-align: center;
  opacity: 0;
  animation: fadeIn 3s ease forwards;
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(20px); /* Empieza 20px más abajo */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Termina en su posición original */
  }
}

@keyframes fadeInFromInput {
  from {
    opacity: 0;
    transform: translateY(20px); /* Empieza 20px más abajo */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Termina en su posición original */
  }
}

#loginButton {
  opacity: 0;
  animation: fadeInFromBottom 5s ease forwards; /* Animación específica para el botón */
  border-radius: 20px;
  color: black !important; /* Color del texto negro */
  width: 60%;
}

#inputAparecer1 {
  opacity: 0;
  animation: fadeInFromInput 5s ease forwards; /* Animación específica para el botón */
  border-radius: 20px;
}
#inputAparecer2 {
  opacity: 0;
  animation: fadeInFromInput 5s ease forwards; /* Animación específica para el botón */
  border-radius: 20px;
}
#bienvenidoAparecer {
  opacity: 0;
  animation: fadeInBienvenidoAparecer 7s ease forwards; /* Animación específica para el botón */
}



ion-content {
  --ion-background-color: #458cf4;
}

ion-input {
  background-color: rgb(224, 223, 223) !important;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}